<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SOS List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="sosList.length">
    <ion-item *ngFor="let sos of sosList" (click)="navigateToMap(sos)">
      <ion-avatar>
        <img src="http://localhost:5000{{ sos.user.userImage }}">
      </ion-avatar>
      <ion-label>
        <small>{{ sos.user.name }}</small>
        <p>Latitude: {{ sos.lat }}</p>
        <p>Longitude: {{ sos.lng }}</p>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>