<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Domestic Voilence</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info"
          aria-selected="true">Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="harassment-tab" data-toggle="tab" href="#harassment" role="tab"
          aria-controls="harassment" aria-selected="false">Harassment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="violence-tab" data-toggle="tab" href="#violence" role="tab" aria-controls="violence"
          aria-selected="false">Domestic Violence</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="rights-tab" data-toggle="tab" href="#rights" role="tab" aria-controls="rights"
          aria-selected="false">Rights</a>
      </li>
    </ul>
    <br>
    <div class="tab-content" id="myTabContent">
      <section class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <img src="../../../assets/justice.jpg" alt="">
          </div>
          <div class="col-md-6 col-sm-12">
            <h1 class="display-4">Complaint Box</h1>
            <p>
              <span class="text-success">
                Speak up website
              </span>
              for women , here women can register complaints under various heads such as
              <u>
                Acid attack, attempt to rape, bigamy, cyber crime, desertion, divorce, maintenance, dowry
                death, dowry harassment, female infanticide, harassment at workplace, molestation, outraging
                modesty of women, sexual harassment at workplace, etc.
              </u>
              It has an online complaint registration
              system available on this website.
              <span class="text-danger">
                If you don&#39;t speak up for yourself no one will. Speak up, make
                your voice matter. Never one to shy away from standing up for issues that matter.
              </span>
            </p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="card">
              <div class="card-header bg-primary text-white">
                <b>KNOW YOUR RIGHTS:LAWS THAT PROTECT YOU WOMENS</b>
              </div>
              <div class="card-body">
                Crimes against women occur every minute in India. Women are not safe, whether it is
                in their houses, public places or at the workplace. Your safety in your hands sounds like a clichéd
                adage
                to
                repeat. Given the number of crimes that are committed against women, it is pertinent that women are
                aware
                about the laws that are in place to protect them.
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4 col-sm-12 mt-2">
            <img src="../../../assets/mess.jpg" height="234px" alt="">
          </div>
          <div class="col-md-4 col-sm-12 mt-2">
            <img src="../../../assets/work-place.jpg" alt="">
          </div>
          <div class="col-md-4 col-sm-12 mt-2">
            <img src="../../../assets/meetoo.jpg" height="234px" alt="">
          </div>
        </div>
      </section>
      <section class="tab-pane fade" id="harassment" role="tabpanel" aria-labelledby="harassment-tab">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <img src="../../../assets/harass.jpg" alt="">
            <h4 class="text-success">
              <u>Examples of Harassment</u>
            </h4>
            <ul>
              <li>A colleague repeatedly makes fun of your hijab.</li>
              <li>A manager regularly makes inappropriate comments about your physical
                appearance.</li>
              <li>An employee threatens your safety following a heated discussion.</li>
              <li>A supervisor rubs your shoulders despite your repeated objections.</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12">
            <h1 class="display-4">What is Harassment?</h1>
            <p>
              <span class="text-danger">
                Harassment
              </span>
              is a form of discrimination. It includes any unwanted physical or verbal behaviour that offends
              or humiliates you. Generally, harassment is a behaviour that persists over time. Serious one-time
              incidents can also sometimes be considered harassment.
            </p>
            <h4 class="text-danger">
              <u>Harassment Occurs:</u>
            </h4>
            <ul class="list-group">
              <li class="list-group-item">
                When someone Makes unwelcome remarks or jokes about your race, religion,
                sex, age, disability or any other of the grounds of discrimination.
              </li>
              <li class="list-group-item">
                Threatens or intimidates you because of your race, religion, sex, age, disability
                or any other of the grounds of discrimination.
              </li>
              <li class="list-group-item">
                Makes unwelcome physical contact with you, such as touching, patting, or
                pinching.
              </li>
            </ul>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <h1>
              <b>LAWS ON HARASSMENT IN INDIA</b>
            </h1>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4 col-sm-12 mt-2">
            <div class="card card-laws">
              <h5>Section 354A</h5>
              <p>
                Sexual harassment of the nature of unwelcome physical contact and advances or
                a demand or request for sexual favours or showing pornography.
              </p>
              <p class="text-danger">
                Punishment - Upto 3 years or Fine or Both
              </p>
              <a href="https://devgan.in/ipc/section/354A/" target="_blank" class="card-link">More Details...</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-2">
            <div class="card card-laws">
              <h5>Section 354B</h5>
              <p>
                Criminal force to woman with intent to disrobe.
              </p>
              <p class="text-danger">
                Punishment - 3 to 7 years + Fine
              </p>
              <a href="https://devgan.in/ipc/section/354B/" target="_blank" class="card-link">More Details...</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-2">
            <div class="card card-laws">
              <h5>Section 509</h5>
              <p>
                Uttering any word or making any gesture intended to insult the modesty of a
                woman, etc.
              </p>
              <p class="text-danger">
                Punishment - Simple imprisonment for 3 years + Fine
              </p>
              <a href="https://devgan.in/ipc/section/509/" target="_blank" class="card-link">More Details...</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="mt-3">Many other laws and details about the harassment</p>
            <a href="https://yourstory.com/2018/03/five-laws-every-woman-must-know/" target="_blank"
              class="card-link">Learn about more laws</a>
          </div>
        </div>
      </section>
      <section class="tab-pane fade" id="violence" role="tabpanel" aria-labelledby="violence-tab">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <img src="../../../assets/domestic-head.jpg" height="320px" alt="">
          </div>
          <div class="col-md-6 col-sm-12">
            <h1 class="display-4">Domestic Violence</h1>
            <p>
              <span class="text-success">
                Domestic Violence
              </span>
              violence is about one person getting and keeping power and control over another person in an
              intimate relationship. It is a pattern of behavior in which one intimate partner uses 
              <span class="text-danger"><u>physical violence,
                  coercion, threats, intimidation, isolation and emotional, sexual, economic, or other forms of abuse to
                  control and change the behavior of the other partner.</u> </span> The abusive person might be your
              current or former
              spouse, live-in lover, dating partner, or some other person with whom you have a relationship. To better
              understand the ways that an abuser can use power and control over a victim, you can check out what is
              called the<span class="text-primary"> "Power and Control Wheel"</span>.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
             Domestic violence happens to
            people of all ages, races,
            ethnicities,
            socio-economic statuses, and religions. It occurs in both opposite-sex and same-sex relationships. A
            person&#39;s gender, gender identity, or sexual orientation does not determine whether s/he can be a
            victim of
            domestic violence or an abuser. Economic or professional status does not affect whether someone can
            commit domestic violence or be the victim of domestic violence - abusers and victims can be laborers or
            college professors, judges or janitors, doctors or orderlies, teachers, truck drivers, homemakers or store
            clerks. Domestic violence occurs in the poorest neighborhoods, the fanciest mansions and white-picket-
            fence neighborhoods.
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="card">
              <div class="card-header bg-primary text-white">
                <b>SOME EXAMPLES OF THE DIFFERENT FORMS OF DOMESTIC ABUSE</b>
              </div>
              <div class="card-body">
                <ul>
                  <li>PHYSICAL ABUSE</li>
                  <li>SEXUAL ABUSE</li>
                  <li>ECONOMIC ABUSE</li>
                  <li>EMOTIONAL ABUSE</li>
                  <li>PSYCHOLOGICAL ABUSE</li>
                  <li>SEXUAL COERCION & REPRODUCTIVE</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <img src="../../../assets/charts.png" width="100%" alt="">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 col-sm-12 mt-2">
            <img src="../../../assets/domestic.png" alt="">
          </div>
          <div class="col-md-6 col-sm-12 mt-2">
            <img src="../../../assets/abuses.png" alt="">
          </div>
        </div>
      </section>
      <section class="tab-pane fade" id="rights" role="tabpanel" aria-labelledby="rights-tab">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <img src="../../../assets/laws.jpg" height="250px" width="600px" alt="">
          </div>
          <div class="col-md-6 col-sm-12">
            <h1 class="display-4">Rights</h1>
            <p>
              Crimes against women occur every minute in India. Women are not safe, whether
              it is in their houses, public places or at the workplace. Your safety in your hands
              sounds like a clichéd adage to repeat. Remember knowledge is power. As a
              parent, wife, daughter, employee and a woman these are rights set in place to
              protect you and it is important that you are aware about these.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h2>
              <b>10 laws that women should know:
              </b>
            </h2>
          </div>
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-header bg-secondary text-white">
                <b>The Prohibition of Child Marriage Act, 2006</b>
              </div>
              <div class="card-body">
                According to the International Research Centre for Women, almost 47 percent of
                girls are married before the age of 18. Currently, India ranks 13 in the world when
                it comes to child marriages. Since child marriage has been steeped into the Indian
                culture and tradition since centuries, it has been tough eliminating it. The
                Prohibition of Child Marriage Act was made effective in 2007. This act defines
                child marriage as a marriage where the groom or the bride are underage, that is,
                the bride is under 18 years of age or the boy is younger than 21 years. Parents
                trying to marry underage girls are subject to action under this law. Since the law
                makes these marriages illegal, it acts as a major deterrent.
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-header bg-secondary text-white">
                <b>Special Marriage Act, 1954</b>
              </div>
              <div class="card-body">
                The objectives of this act is to provide – a special form of marriage in certain
                cases, provide for registration of certain marriages and, to provide for divorce. In
                a country like India and with the diverse religions and cast, when people from
                different faiths and caste chose to get married they do it under the Special
                Marriage Act. It is not applicable to the state of Jammu and Kashmir and also
                extends to intending spouses who are Indian nationals and living abroad.
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-header bg-secondary text-white">
                <b>Dowry Prohibition Act, 1961</b>
              </div>
              <div class="card-body">
                According to this act, taking or giving of dowry at the time of the marriage to the
                bride or the bridegroom and their family is to be penalised. Dowry system, giving
                and taking of dowry, is a norm in India. Dowry is often asked of the bride and her
                family by the groom and his family. The system has taken strong roots because
                women after marriage move in with their spouse and in-laws. Also, over the
                centuries, the lack for economic independence of women and the taboo towards
                divorce has resulted in bride burning. When demands for dowry even after
                marriage are not met by the girl’s families, many women are tortured, beaten and
                even burnt. It is one of the major challenges that our society is grappling with.
                Women openly complaining about it has helped to spread the word and
                encourage other women to take a stand.
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-header bg-secondary text-white">
                <b>Indian Divorce Act, 1969</b>
              </div>
              <div class="card-body">
                The Indian Divorce Act allows the dissolution of marriage, mutual consent, nullity
                of marriage, judicial separation and restitution of conjugal rights. Family Courts
                are established to file, hear, and dispose of such cases.
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-header bg-secondary text-white">
                <b>Maternity Benefit Act,1861</b>
              </div>
              <div class="card-body">
                CThis act regulates the employment of women and maternity benefits mandated
                by law. It states that a woman employee who has worked in an organisation for a
                period of at least 80 days during the 12 months preceding the date of her
                expected delivery is entitled to receive maternity benefits, which includes
                maternity leave, nursing breaks, medical allowance, etc.
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-header bg-secondary text-white">
                <b>Medical Termination of Pregnancy Act,1971</b>
              </div>
              <div class="card-body">
                The Act came into effect into 1972, was amended in 1975 and 2002. The aim of
                the Act is to reduce the occurrence of illegal abortion and consequent maternal
                mortality and morbidity. It clearly states the conditions under which a pregnancy
                can be ended or aborted and specifies the persons qualified to conduct the same.
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-header bg-secondary text-white">
                <b>Sexual Harassment of Women at Workplace (Prevention, Prohibition and Redressal) Act,
                  2013</b>
              </div>
              <div class="card-body">
                To ensure women’s safety at workplace, this Act seeks to protect them from
                sexual harassment at their place of work. Thirty-six percent of Indian companies
                and 25 percent among MNC’s are not complaint with the Sexual Harassment Act
                according to a FICCI-EY November 2015 report. Sexual harassment at workplace
                also includes – the use of language with sexual overtones, invasion of private
                space with a male colleague hovering too close for comfort, subtle touches and
                innuendoes.
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-header bg-secondary text-white">
                <b>Indecent Representation of Women(Prevention) Act,1986</b>
              </div>
              <div class="card-body">
                This Act prohibits indecent representation of women through advertisement or in
                publications, writings, paintings, figures or in any other manner.
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-header bg-secondary text-white">
                <b>National Commission for Women Act, 1990</b>
              </div>
              <div class="card-body">
                The National Commission for Women (NCW) is a statutory body of the
                Government of India, established in January 1992. Lalitha Kumaramangalam was
                appointed its Chairperson in 2014. The NCW represents the rights of women in
                India and provides a voice for their issues and concerns. The National Commission
                for Women Act aims to improve the status of women and worked for their
                economic empowerment.
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-header bg-secondary text-white">
                <b>Equal Remuneration Act, 1976</b>
              </div>
              <div class="card-body">
                This Act prevents discrimination in terms of remuneration. It provides for
                payment of equal recompense to men and women workers. It is necessary to
                know these and other laws in place to protect the interests of women. Only if you
                are aware of your rights can you fight against any injustice meted out to you at
                home, at the workplace, or in the society.
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ion-content>