<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Support Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  You can support the rape victims and rehabilate thier lives by donating small ammount of charity via. demand drafts,
  cheques, paywallets, NEFT.
  <br>

  <blockquote class="blockquote text-success">
    <p>"Share the joy of satisfaction."</p>
  </blockquote>

  <p><span class="text-muted">Bank Account Number:</span> 688602010000722</p>
  <p><span class="text-muted">IFSC Code:</span> UBIN0568864</p>
  OR
  <p><span class="text-muted">BHIM UPI:</span> +916360535414@ybl</p>

  <p>
    <span class="text-muted">Contact:</span> +91-6393262860
  </p>
  <p>
    <span class="text-muted">Address:</span> #538KA/1057, Triveni Nagar 3rd, Lucknow
  </p>
</ion-content>