<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Helpline Numbers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <p class="text-danger">Toll Free Numbers for emergency help...</p>
    <p class="text-muted">
      All women and people who may find themselves in any dangerous situation can refer to the following numbers.
    </p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Service Name</th>
          <th scope="col">Contact Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Police</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Ambulance</td>
          <td>102</td>
        </tr>
        <tr>
          <td>Fire</td>
          <td>101</td>
        </tr>
        <tr>
          <td>Medical</td>
          <td>108</td>
        </tr>
        <tr>
          <td>Women Harassment</td>
          <td>1090</td>
        </tr>
        <tr>
          <td>Indian Railway Women Harassment</td>
          <td>1512</td>
        </tr>
        <tr>
          <td>Women Helpline</td>
          <td>181</td>
        </tr>
        <tr>
          <td>Child Helpline</td>
          <td>1098</td>
        </tr>
        <tr>
          <td>Any Emergency</td>
          <td>112</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>