<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Introduction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="10000">
        <img src="../../../assets/women.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="../../../assets/sos.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/omw.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <h3 class="display-4 text-center">
    Girl's Safety and Security System
  </h3>
  <div class="container">
    <h3><b>INTRODUCTION</b></h3>
    <p>
      The project <b>Girl's Safety and Security System</b> is based on total protection of women from crime, threat
      and provide secure, safe and fearless environment.
    </p>
    <p>
      Today in the current global scenario, the prime question in every girl’s mind, taking into
      account the ever rising increase of issues on women harassment in recent past, is only about
      her safety and security. The only thought haunting every girl is when they will be able to
      move freely on the streets even in odd hours without worrying about their security. This
      project suggests a new perspective to use technology to protect women. The system
      resembles a normal cloves which when activated, tracks the location of the victim using GPS
      (Global Positioning System) and sends emergency messages using GSM (Global System for
      Mobile communication), to three emergency contacts and the police control room. The
      system also incorporates a screaming alarm that uses real time clock, Also pressure sensor in
      the band will indicate whether the band is being damaged or not. In this case a red alert
      message in a periodic update will be issued that the particular women is under attack.
    </p>
    <p>
      <b>
        We came up with the Ideas of the Emergencies in the respective so we have provided with the two special features
        in
        the application to enable the safety system.
      </b>
    </p>
    <div class="card p-3">
      <ul>
        <li>
          Emergency Mode which is choosed in the scenerio when the girl is actually trapped.
        </li>
        <li>
          Second one is the Radar Mode in which it keeps on sending the GPS location of the user in case where the women
          feels unsafe.
        </li>
        <img src="../../../assets/toggle.png" alt="">
        <li>
          We have also integreated the Angular Google Maps to gve the location of the user.
        </li>
        <img src="../../../assets/maps.png" alt="">
        <li>
          We have also provided the feature of the news feed where the users can post their status and share the ideas.
          And
          people can like and comment in the real time.
        </li>
        <li>
          We are also looking into the integration fo the mobile text to the user's contacts.
        </li>
      </ul>
    </div>
    <h4><b>
        Why we choose to work on this project topic?
      </b></h4>
    <p>
      Even when the world evolves day by day, sexual abuse against women doesn&#39;t decrease.
      Instead it increases day by all over the world. Conventional security systems don’t provide
      much solution to this social problem. Hence to provide a possible solution by using a this
      project that will be cost effective and easy to use which will reduce the crime rate against
      women. It can also be used in case of medical emergency of those women. Since this is an era
      of wearable technology, this band concept can be used in versatile applications as well as
      future enhancements is much possible in all dimensions of the needy world. I&#39;ve chosen this
      project because providing a solution to one of the most important social problem will make
      me happy as well as will make the world more peaceful than today&#39;s world.
    </p>
    <p>
      The world is becoming so much more unsafe for women. Social evils like molestations,
      dowry, crime against women. Incidents of crime against women have been increasing at an
      alarming pace in Indian cities, most common incidents being rape, kidnapping, sexual
      harassment and eve teasing. Security for women is still a major issue. In this age of
      technology, mobile phone is one gadget almost everyone uses to keep in touch with family
      and friends. All they need is a device that can be carried around easily and worn whenever
      the woman feels unsafe. Women safety and security has emerged as a key concern for the
      country over the recent years. In this project suggests a new perspective to use technology to
      protect women. The system resembles a smart bell which when activated, tracks the location
      of the victim using GPS (Global Positioning System) and sends emergency messages using
      GSM (Global System for Mobile communication), to two emergency contacts and the police
      control room. The system also incorporates a screaming alarm to call out for help.
    </p>
  </div>
</ion-content>