<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input name="username" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <br>
        <ion-button expand="block" fill="solid" (click)="authenticate()">Login</ion-button>
        <ion-button expand="block" fill="solid" (click)="goToRegister()">Need an Account?</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>