<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Rape Victims</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-3">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
          aria-controls="pills-home" aria-selected="true">Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
          aria-controls="pills-profile" aria-selected="false">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
          aria-controls="pills-contact" aria-selected="false">Success Story</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <section class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
          <div class="col-12">
            <img class="mx-auto" src="../../../assets/quote.png" alt="">
          </div>
          <div class="col-12">
            If you have been sexually assaulted, whether as an adult or a young person, it is
            important to remember that it wasn&#39;t your fault. Sexual violence is a crime, no
            matter who commits it or where it happens. Don&#39;t be afraid to get help
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 mt-3">
            <div class="card">
              <img src="../../../assets/alice.jpg" height="250px" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Alice Sebold</h5>
                <p class="card-text">“You save yourself or you remain unsaved.”</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-3">
            <div class="card">
              <img src="../../../assets/robert.jpg" height="250px" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Robert Uttaro</h5>
                <p class="card-text">“But no matter how much evil I see, I think it’s important for
                  everyone to understand that there is much more light than
                  darkness.”</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-3">
            <div class="card">
              <img src="../../../assets/ursula.jpg" height="250px" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ursula K. Le Guin</h5>
                <p class="card-text">“The power of the harasser, the abuser, the rapist depends above
                  all on the silence of women.”</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <h4 class="display-4">ABOUT US...</h4>
        <h1 class="text-primary">Core Beliefs</h1>
        <ul class="list-group">
          <li class="mb-1 list-group-item">
            <i>We believe that the rape and sexual violence of children and adults is endemic
              within our society.</i>
          </li>
          <li class="mb-1 list-group-item">
            <i>We challenge society to acknowledge this reality and acknowledge our individual
              and collective responsibility for it.</i>
          </li>
          <li class="mb-1 list-group-item">
            <i>We believe that rape, sexual violence &amp; abuse of women or girls or men or boys
              is preventable.</i>
          </li>
          <li class="mb-1 list-group-item">
            <i>We are committed in empowering survivors and their supporters to work through
              and beyond the experience of abuse.</i>
          </li>
        </ul>
        <h1 class="text-primary">Core Aims</h1>
        <ul class="list-group">
          <li class="mb-1 list-group-item">
            <i>To support and empower survivors of rape, sexual violence,acid attacks and/or
              childhood sexual abuse</i>
          </li>
          <li class="mb-1 list-group-item">
            <i>Providing a collective voice and peer networking for members.</i>
          </li>
          <li class="mb-1 list-group-item">
            <i>Raising awareness about sexual abuse and/or rape and its effects on survivors,
              their supporters and society at higher level</i>
          </li>
          <li class="mb-1 list-group-item">
            <i>Informing acknowledgement of, and effective responses to, rape and sexual
              abuse on a local, regional and national level</i>
          </li>
        </ul>
      </section>
      <section class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="row">
          <img src="../../../assets/story.png" alt="">
        </div>
        <div class="row">
          <div class="col-12">
            <p>
              From putting the perpetrator behind bars to helping victims of commercial sex
              exploitation and rape, these 5 amazing women have risen from the ashes
              stronger than ever. Know more about these inspiring women who are a
              motivation to all of us.They are not “rape victims”, not even just “survivors”, but
              “winners”, who are an inspiration to us all and who restore our faith in woman
              power.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-3">
            <div class="card card-laws">
              <div class="row">
                <div class="col-sm-12 col-md-2">
                  <img src="../../../assets/sunita.png" alt="">
                  <p class="text-primary">&nbsp;&nbsp;Dr.Sunitha Krishnan</p>
                </div>
                <div class="col-sm-12 col-md-10 card-body">
                  Krishnan was a social worker since childhood. She would teach dance to
                  mentally challenged children when she herself was just eight years old.
                  She was gang-raped when she was 12. The horrific incident left her angry,
                  but instead of lamenting over her fate, she started an anti-trafficking
                  organization Prajwala which works with the police and other law
                  enforcement agencies to fight commercial sexual exploitation. Through her
                  organization, she is actively rescuing and rehabilitating victims of sex-
                  trafficking into society. Krishnan was also recently awarded the prestigious
                  2014 Nelson Mandela-Graca Machel Innovation Awards on November 24
                  at Johannesburg, South Africa. She is the first Indian to receive this
                  honour. Her inspiring story is a motivation to all of us, especially those who
                  are still fighting the horrific memories of rape.
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card card-laws">
              <div class="row">
                <div class="col-sm-12 col-md-2">
                  <img src="../../../assets/jordan.png" alt="">
                  <p class="text-primary">&nbsp;&nbsp;Suzette Jordan</p>
                </div>
                <div class="col-sm-12 col-md-10 card-body">
                  Jordan has come a long way from being labeled the “Park Street rape
                  victim” to “Suzette Jordan, the survivor”. She still remembers the horrifying
                  night when she was gang-raped in a moving car in Kolkata. A single
                  mother, instead of empathy she received criticism from the society who
                  called her “characterless” and also accused her of probably being involved
                  in prostitution! But one day Jordan thought to put an end to it and revealed
                  her identity to fight against the blames and the crime. “My children gave
                  me the strength to fight,” she said in a television show. “I want to instill in
                  them the feeling of being fearless. I want to show them that even in the
                  worst situation, being strong is the only way,” she says. Today she is living
                  a dignified life and demanding the justice which she deserves. She also
                  went outand supported the family of another college girl who was brutally
                  raped and murdered.
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card card-laws">
              <div class="row">
                <div class="col-sm-12 col-md-2">
                  <img src="../../../assets/sita.png" alt="">
                  <p class="text-primary">&nbsp;&nbsp;Sita</p>
                </div>
                <div class="col-sm-12 col-md-10 card-body">
                  The 20-year old construction labourer Sita was kidnapped, gang-raped and
                  thrown on a railway track to die by a co-worker she had a small fight with.
                  She became physically disabled and was abandoned by her own mother
                  because she was no longer of any “use” to her in earning money. Instead
                  of getting defeated by this harsh reality, Sita not only sent her violators to
                  jail but also rebuilt her own life from scratch. Wheelchair ridden Sita did not
                  shy away from filing a complaint against her mother too, who was abetting
                  the criminals against her daughter. To give a new shape to her life, she
                  joined a bridge school run by Prayas NGO, and with the help of her
                  immense passion and will power, she managed to secure admission in
                  class eight at the government-run Kasturba Gandhi Balika Vidyalaya
                  (KGBV). Sita is an inspiration to all of us and proves that nothing can beat
                  a strong willpower.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ion-content>